@import 'styles/layout';
@import url('https://css.gg/css');

@font-face {
    font-family: Montserrat;
    src: url('assets/fonts/Montserrat/Montserrat-Regular.ttf');
  }
  
  @font-face {
    font-family: Montserrat-Bold;
    src: url('assets/fonts/Montserrat/Montserrat-Bold.ttf');
  }
  
  @font-face {
    font-family: Montserrat-Light;
    src: url('assets/fonts/Montserrat/Montserrat-Light.ttf');
  }
  
  @font-face {
    font-family: Montserrat-Thin;
    src: url('assets/fonts/Montserrat/Montserrat-Thin.ttf');
  }
  
  @font-face {
    font-family: Oxygen;
    src: url('assets/fonts/Oxygen/Oxygen-Regular.ttf');
  }
  
  @font-face {
    font-family: Oxygen-Light;
    src: url('assets/fonts/Oxygen/Oxygen-Light.ttf');
  }