<link rel="stylesheet" href="pedidos-cliente/pedidos-cliente.css">
<div class="main-container" ng-controller="pedidosClienteCtrl" ng-init="getCliente()">
    <div class="side-by-side">
        <div>
            <h1 class="title" style="padding-bottom: 0;">Pedidos do cliente</h1>
            <p>{{cliente.nome}}</p>
        </div>
        <button ng-click="addOrder()" style="height: 60px;">Adicionar Pedido</button>
    </div>


    <div style="display: flex;" ng-controller="pedidosClienteCtrl" ng-init="getPedidos()">
        <div class="card" style="cursor: pointer;" ng-repeat="pedido in pedidosCliente" ng-click="orderDetails(pedido.id)">
            <div>
                <p class="main-subtitle">Pedido #{{pedido.id}}</p>
                <p>{{getOrderDescription(pedido.produtos)}}</p>
            </div>
        </div>
    </div>
</div>