button {
  color: #FF293A;
  font-family: Montserrat;
  padding: 20px 24px;
  font-size: 16px;
  border: none;
  color: white;
  border-radius: 15px;
  text-transform: uppercase;
  cursor: pointer;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#FF7581), to(#FF293A));
  background-image: linear-gradient(#FF7581, #FF293A);
  -webkit-transition: -webkit-box-shadow 0.5s ease-in-out;
  transition: -webkit-box-shadow 0.5s ease-in-out;
  transition: box-shadow 0.5s ease-in-out;
  transition: box-shadow 0.5s ease-in-out, -webkit-box-shadow 0.5s ease-in-out;
}

.cta-button {
  color: #FF293A;
  font-family: Montserrat;
  font-size: 16px;
  padding: 20px 14px;
  border: 2px solid #FF293A;
  text-transform: uppercase;
  background-color: transparent;
  background-image: none;
  border-radius: 10px;
  max-width: 200px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.cta-button:hover {
  background-color: #ff5c69;
  border-color: transparent;
  color: white;
}

button:hover {
  -webkit-box-shadow: 0 14px 28px rgba(255, 41, 58, 0.32);
          box-shadow: 0 14px 28px rgba(255, 41, 58, 0.32);
}

button:focus {
  outline: none;
}

.title {
  font-family: "Montserrat-Light";
  color: #707070;
  font-size: 40px;
  text-transform: uppercase;
  font-weight: 300;
  line-height: 0;
}

p {
  font-family: "Oxygen-Light";
  font-size: 20px;
  color: #999999;
  line-height: 30px;
}

input, select {
  padding: 20px 14px;
  border: 1px solid #D9D9D9;
  border-radius: 10px;
  outline: none;
  font-family: Montserrat;
  font-size: 14px;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  background: transparent;
  background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-position-y: 50%;
  padding: 20px 14px;
}

input:focus, select:focus {
  border: 2px solid #FF8F98;
}

.card {
  padding: 0.5em;
  margin: 1em;
  margin-right: 2em;
  margin-left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 350px;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-transition: -webkit-box-shadow 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: -webkit-box-shadow 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: box-shadow 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: box-shadow 0.3s cubic-bezier(0.25, 0.8, 0.25, 1), -webkit-box-shadow 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  border-radius: 10px;
  background-color: rgba(245, 245, 245, 0.5);
}

.card .text-container {
  padding: 0.5em;
  word-wrap: break-word;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.card p {
  font-size: 14px;
}

.card h3 {
  font-family: "Montserrat-Light";
  text-transform: uppercase;
  color: #999999;
}

.card img {
  width: 70%;
  height: 70%;
  margin: 0;
  -o-object-fit: contain;
     object-fit: contain;
}

.card .card-actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.card .card-actions button {
  width: 45px;
  height: 45px;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  margin: 10px;
}

.card .card-actions button i {
  color: white;
}

.card:hover {
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.1);
          box-shadow: 0 14px 28px rgba(0, 0, 0, 0.1);
}

.small-text {
  font-size: 14px;
}

.subtitle {
  font-family: Montserrat;
  color: gray;
  font-size: 20px;
}

.subtitle-bold {
  font-family: "Montserrat-Bold";
  color: gray;
  font-size: 20px;
}

.subtitle-light {
  font-family: "Montserrat-Light";
  color: gray;
  font-size: 20px;
}

.main-subtitle {
  color: #FF293A;
  font-family: Montserrat;
  font-size: 20px !important;
}

h2 {
  font-family: "Montserrat-Bold";
  color: #4d4d4d;
  font-size: 20px;
  text-transform: uppercase;
  margin-bottom: 0;
}

.main-container {
  padding: 1em;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.v-stack {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0;
}

.input-group {
  padding: 1em;
}

.input-group input {
  width: 100%;
}

.input-group .cta-button {
  padding-left: 1em;
  padding-right: 1em;
}

.input-group:first-child {
  padding: 1em;
  padding-left: 0;
}

div {
  margin: 0 !important;
}

.top-container {
  padding: 10px 0;
  max-height: 30px;
}

.text {
  font-family: Montserrat;
  font-size: 12px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  height: 100%;
}

.card {
  margin: 1em !important;
}

.card img {
  max-width: 50%;
  max-height: 50%;
}

.cta-button {
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 12px;
}
/*# sourceMappingURL=cadastro-pedido-cliente.css.map */